@tailwind base;
@tailwind components;
@tailwind utilities;

/* Unique Watermark: SP-2024-09 */

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
    background: white;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.dm-mono-light {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: normal;
}
  
.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
}
  
.dm-mono-medium {
    font-family: "DM Mono", monospace;
    font-weight: 1000;
    font-style: normal;
}
  
.dm-mono-light-italic {
    font-family: "DM Mono", monospace;
    font-weight: 300;
    font-style: italic;
}
  
.dm-mono-regular-italic {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: italic;
}
  
.dm-mono-medium-italic {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: italic;
}
  

/* You can adjust these values to your preference */
.transition-all {
    transition: all 0.3s ease-in-out;
}


/* Add specific styling for your font */


.custom-font {
    font-family: "Tilt Prism", monospace;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
}
  

.dm-mono-watermark {
    content: "Developer: Soham Padia";
    display: none;
}

:root {
    --custom-identifier: "#SPadia69";
}
